* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  cursor: url('../img/icons/patocur.ico') 0 0, auto;

}

.header {
  background-color: #FFD95F;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.duckLogo {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

.navbar li {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.icon {
    cursor: pointer;
  }

.cesta {
    width: 55px;
    height: 55px;
    
}
.usuario {
    width: 50px;
    height: 50px;
    
}

.icon-left {
  display: flex;
  gap: 10px; 
  align-items: flex-end;
}

.hamburger {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer; 
}

main {
  /*width: 100%;*/
  max-width: 100%;
  display: flex; /*necesario para mobile first view*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}


.background-container {
  background-image: url('../img/fondo-contacto.jpg');
  background-size: cover;
  background-position: center;
  width: 414px;
  height: 510px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 12px 20px rgba(0, 0, 0, 0.25); 

}

/* Capa para opacidad encima de la imagen */
/* con fondo blanco semi-transparente */
.background-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 2;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 90%;
  position: relative;
  z-index: 2;
 
}

label {
  font-weight: 500;
  color: #333;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

button {
  background-color: #D70654;
  color: white;
  font-weight: 500;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #aa0540;
}

.footer {
  background-color: #FFD95F; 
  width: 100%;
  margin-top: 40px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.companyInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.companyInfo .duckLogo {
  width: 60px;
}

.companyData p {
  font-size: 14px;
  margin: 0;
  color: #333;
}

.slogan {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  flex: 1
}

.socialNet {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;
  width: 100%;
  flex: 1; 
}


.socialNet .icons {
  cursor: pointer;
  justify-content: space-between;
 
}

.footer {
    background-color: #FFD95F;
    color: #e0f2f1;
}

.socialIcono {
    width: 50px;
    height: 50px;
    margin-left: 40px;

}


/*solo móviles*/

@media screen and (max-width: 768px) {
 .header {
    background-color: #B8D576;
    color: #e0f2f1;
  
  }
.navbar {
  display: none;
  }
.hamburger {
    display: block; 
  }
  

.footer {
    background-color: #B8D576;
    color: #e0f2f1;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .companyInfo {
    flex-direction: column;
    align-items: center;
  }

.slogan {
    display: none;
}

.icons-left {
    display: none; 
  }

.socialNet {
  align-items: center;
  width: 100%;
}
.socialNet .icons {
  display:flex; 
  flex-direction: column;
  gap: 10px
}

}