body {
    margin: 0;
    cursor: url("../img/icons/patocur.ico"), auto;
}

header, footer {
    background-color: #ffd95f;
}
header{
    height: 119px;
}
main{
    background-color: bisque;
    height: 724px;
}
footer {
    height: 181px;
}
/*----------------------------------------------------*/
/* H  E  A  D  E  R */
/*----------------------------------------------------*/ 

.header{
    display: flex;
    justify-content: space-between;
}
/*header LEFT*/
.headerLeft{
    display: flex;
    align-items: center;
}
.duckLogo {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    
    margin-left: 42px;
    
}

/*HEADER CENTER*/
/*
ul{
    list-style: none;
    display: flex;
    font-size:30px;
    margin: 45px 0;
}
ul li{
    margin-right: 50px;    
}
ul li a{
    text-decoration: none;
}
*/
.navbar{
    display: flex;
    align-items: center;
}
.headerNav{
    color: black;
    margin-right: 2px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin: 0 150px;
    letter-spacing: 2px;
}
.headerNav:hover {
    text-decoration: underline;
    font-size: 25px;
    transition-duration: 1s;
}


/*HEADER RIGHT*/
.navRight{
    display: flex;
    align-items: center;
}
.carrito {
    width: 55px;
    height: 55px;
    margin-right: 40px;
}
.usuario {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.carrito:hover, .usuario:hover{
    width: 65px;
    height: 65px;
}


/*----------------------------------------------------*/
/* F  O  O  T  E  R */
/*----------------------------------------------------*/

.footer {
    display: flex;
    justify-content: space-between;
}

/*footer left*/
.companyInfo {
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.duckLogoFooter{
    margin-left: 50px;
}
.companyData {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.companyData p{
    /*
    margin-bottom: 1px;
    */
    margin: 0;
    margin-left: 30px;
    line-height: 1.4;
}

/*footer center*/
.footerCenter{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footerCenter p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}


/*footer right*/
.socialNet {
    margin: 20px 50px 0 0;
    display: flex;
    align-items: center;
}
.socialIcono {
    width: 50px;
    height: 50px;
    margin-left: 40px;

}
/*----------------------------------------------------*/
/*  DESDE AQUI MAIN  */
/*----------------------------------------------------*/